<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="jspm_packages/npm/stylific@0.0.10/css/stylific.css">
  </head>
  <body>
    <sf-article>
      <word-generator></word-generator>
    </sf-article>

    <% if (prod()) { %>
      <script src="build.js"></script>
    <% } else { %>
      <script src="jspm_packages/es6-module-loader.js"></script>
      <script src="jspm_packages/system.js"></script>
      <script src="system.config.js"></script>
      <script>
        System.import('boot')
      </script>
    <% } %>
  </body>
</html>
