<div class="flex pad-ch">
  <!-- Left column: source words -->
  <div class="flex-1 space-out-v"
       drop-action="self.pick($data)" drop-type="move">
    <h3 class="info pad">Source Words</h3>
    <form ng-submit="self.add()" class="flex flex-row pad-ch"
          sf-tooltip="{{self.error}}" sf-trigger="{{!!self.error}}">
      <input autofocus class="sf-input flex-11" tabindex="1" ng-model="self.word">
      <button class="sf-btn flex-1 success" tabindex="1">Add</button>
    </form>
    <div ng-repeat="word in self.words" class="flex justify-between pad-ch">
      <span class="flex-11 info pad" style="margin-right: 1rem">{{word}}</span>
      <button class="sf-btn flex-1" ng-click="self.remove(word)">✕</button>
    </div>
  </div>

  <!-- Right column: generated results -->
  <div class="flex-1 space-out-v">
    <h3 class="success pad">Generated Words</h3>
    <form ng-submit="self.generate()" class="flex flex-row">
      <button class="sf-btn pad success flex-1" tabindex="1">Generate</button>
    </form>
    <div ng-repeat="word in self.results" class="flex justify-between pad-ch">
      <button class="sf-btn flex-1" ng-click="self.pick(word)">←</button>
      <span drag-value="word" class="flex-11 success interactive"
            style="margin-left: 1rem; cursor: move">{{word}}</span>
    </div>
    <div ng-if="self.depleted" class="flex justify-between">
      <span class="error pad">(depleted)</span>
    </div>
  </div>
</div>

<style>
  .dragover {
    outline: 2px dashed gray;
  }
</style>
