<div class="container layout-row">
  <!-- Left column: source words -->
  <div class="flex-1 container" drop-action="self.pick($data)" drop-type="move">
    <h3 class="theme-text-primary">
      <span>Source Words</span>
      <span id="indicator"></span>
    </h3>
    <form class="sf-label-row sf-label-dense" data-sf-tooltip="{{self.error}}"
          style="height: 2.5rem" ng-submit="self.add()">
      <input name="word" autofocus class="flex-11 theme-text-primary" ng-model="self.word">
      <button class="flex-1 theme-primary" tabindex="1">Add</button>
    </form>
    <div class="grid-2 grid-sm-1">
      <div ng-repeat="word in self.words" class="layout-row layout-space-between layout-cross-center">
        <span class="flex-1 pad">{{word}}</span>
        <button class="flex-none" ng-click="self.remove(word)">✕</button>
      </div>
    </div>
  </div>

  <!-- Right column: generated results -->
  <div class="flex-1 container">
    <h3 class="theme-text-accent">Generated Words</h3>
    <form class="sf-label-row sf-label-dense" style="height: 2.5rem" ng-submit="self.generate()">
      <button class="flex-1 theme-accent layout-center" tabindex="1">Generate</button>
    </form>
    <div class="grid-2 grid-sm-1">
      <div ng-repeat="word in self.results"
           class="layout-row layout-space-between layout-cross-center"
           drag-value="word" style="cursor: move">
        <button class="flex-none" ng-click="self.pick(word)">←</button>
        <span class="flex-1 pad text-center">{{word}}</span>
      </div>
      <div ng-if="self.depleted" class="layout-row layout-cross-center layout-center">
        <span class="flex-1 theme-text-warn pad text-center">(depleted)</span>
      </div>
    </div>
  </div>
</div>

<!--
Demonstrating interoperability.

1) `on-load` executes an Angular expression in the component scope in response
   to a DOM event. This would also work if <ajax> came from another library,
   like Polymer, or was a native element.

2) `onload` executes a native DOM expression in the global scope. It doesn't
   care that <ajax> is an Angular element, and has access to the dispatched data.
 -->
<ajax auto="true" url="self.wordsUrl" ref="self.ajax"
      on-load="self.refresh($event.detail); self.generate()"
      onload="console.log(event.detail);
              indicator.innerText = 'Loaded at: ' + event.timeStamp"></ajax>

<style>
  .dragover {
    outline: 2px dashed gray;
  }
</style>
